.notifyElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notifyElements>* {
  width: 100%;
}

.notifyElementItems {
  margin-bottom: 10px;
  text-align: center;
  color: #525252;
  cursor: pointer;
}

.notifyElementDescription {
  color: #444444;
}